<!DOCTYPE html>
<html lang="en" ng-app="big_project_web">

<head>
<meta charset="utf-8">
<title>Stock List</title>


<link href="static/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">

<script src="static/js/angular.min.js"></script>
<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
<script src="static/js/popper.js"></script>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>


<script>
angular.module("big_project_web", ["ngTable"])
	.controller('ListCtrl', function($scope, $http, NgTableParams){
		$scope.info = {}
		$scope.showAdd = true;
		$scope.addMachine = function() {
			$http({
				method: 'POST',
				url: '/addMachine',
				data: {
					info: $scope.info
				}
			}).then(function(response){
				$scope.showList();
				$('#addPopUp').modal('hide')
				$scope.info = {}
			}, function(error){
				console.log(error);s
			});
		}
		
		$scope.showList = function() {
			$http({
				method:'POST',
				url:'/getStockList'
			}).then(function(response){
				$scope.stocks = response.data;
				console.log('mm', $scope.stocks);
			}, function(error){
				console.log(error)
			});
		}
		
		$scope.showAddPopUp = function() {
			$scope.showAdd=true;
			$scope.info={};
			$('#addPopUp').modal('show');
		}
		$scope.stockTable = new NgTableParams({}, { dataset: $scope.stocks});
		$scope.showList();
	})
	

</script>

</head>

<body ng-controller="ListCtrl">
	<div class="container">
		<div>
			<div>
				<table ng-table="stockTable" class="table" show-filter="true">
					<thead>
						<tr>
							<th>#</th>
							<th>代码</th>
							<th>名称</th>
							<th>所属行业</th>
							<th>地区</th>
							<th>市盈率</th>
							<th>流通股本(亿)</th>
							<th>总股本(亿)</th>
							<th>总资产(万)</th>
							<th>流动资产</th>
							<th>固定资产</th>
							<th>公积金</th>
							<th>每股公积金</th>
							<th>每股收益</th>
							<th>每股净资</th>
							<th>市净率</th>
							<th>上市日期</th>
							<th>未分利润</th>
							<th>每股未分配</th>
							<th>收入同比(%)</th>
							<th>利润同比(%)</th>
							<th>毛利率(%)</th>
							<th>净利润率(%)</th>
							<th>股东人数</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stock in stocks track by $index">
							<th scope="row">{{'{{$index+1}}'}}</th>
							<td>{{'{{stock.stock_code}}'}}</td>
							<td>{{'{{stock.name}}'}}</td>
							<td>{{'{{stock.industry}}'}}</td>
							<td>{{'{{stock.area}}'}}</td>
							<td>{{'{{stock.pe}}'}}</td>
							<td>{{'{{stock.outstanding}}'}}</td>
							<td>{{'{{stock.totals}}'}}</td>
							<td>{{'{{stock.totalAssets}}'}}</td>
							<td>{{'{{stock.liquidAssets}}'}}</td>
							<td>{{'{{stock.fixedAssets}}'}}</td>
							<td>{{'{{stock.reserved}}'}}</td>
							<td>{{'{{stock.reservedPerShare}}'}}</td>
							<td>{{'{{stock.esp}}'}}</td>
							<td>{{'{{stock.bvps}}'}}</td>
							<td>{{'{{stock.pb}}'}}</td>
							<td>{{'{{stock.timeToMarket}}'}}</td>
							<td>{{'{{stock.undp}}'}}</td>
							<td>{{'{{stock.perundp}}'}}</td>
							<td>{{'{{stock.rev}}'}}</td>
							<td>{{'{{stock.profit}}'}}</td>
							<td>{{'{{stock.gpr}}'}}</td>
							<td>{{'{{stock.npr}}'}}</td>
							<td>{{'{{stock.holders}}'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
 
	
</body>

</html>