<!DOCTYPE html>
<html lang="en" ng-app="bigProjectApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bootstrap+Angularjs+flask Demo</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
	
	<!-- Angular CSS -->
	<link href="static/vendor/angular-ui-select/select.min.css" rel="stylesheet">
	
    <!-- Custom CSS -->
    <link href="static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="static/vendor/morrisjs/morris.css" rel="stylesheet">
    
  	<!-- DataTable CSS -->
	<link href="static/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/v/dt/r-2.2.1/datatables.min.css" rel="stylesheet" type="text/css"/>

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
</head>

<body ng-controller="ModalCtrl">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">全智策略</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
               
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="fa fa-fw">
                        	<img ng-src="{{user.headimgurl}}" width="18px" height="18px"></img>
                        </i> 
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Searchstatic.">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        
                        <li>
                            <a href="#!portfolio">管理持仓</a>
                        </li>
                        <li>
                            <a href="#!strategy">管理策略</a>
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" ng-view></div>

    </div>
    <!-- /#wrapper -->
</body>

<script type="text/ng-template" id="confirm.html">
<div class="modal-header">
  <h3 ng-bind="modalOptions.headerText"></h3>
</div>
<div class="modal-body">
  <p ng-bind="modalOptions.bodyText"></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn" 
          data-ng-click="modalOptions.close()" ng-bind="modalOptions.closeButtonText"></button>
  <button class="btn btn-primary" 
          data-ng-click="modalOptions.ok();" ng-bind="modalOptions.actionButtonText"></button>
</div>
</script>



<!-- jQuery -->
<script src="static/vendor/jquery/jquery.min.js"></script>
	
<!-- Bootstrap Core JavaScript 	-->
<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="static/vendor/metisMenu/metisMenu.min.js"></script>


<!-- angular -->
<script src="static/vendor/angular/angular.min.js"></script>
<script src="static/vendor/angular-route/angular-route.min.js"></script>
<script src="static/vendor/angular-sanitize/angular-sanitize.min.js"></script>

<!-- select -->
<script src="static/vendor/angular-ui-select/select.min.js"></script>

<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
	
<!-- DataTables JavaScript -->
<script src="static/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="static/vendor/datatables-responsive/dataTables.responsive.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/r-2.2.1/datatables.min.js"></script>

<!-- Custom Theme JavaScript -->  
<script src="static/dist/js/sb-admin-2.min.js"></script>

<script>

	var app = angular.module("bigProjectApp", [ "ngRoute", "ngSanitize", "ui.bootstrap", "ui.select"]);
	//define reusable confirm box modalService
	angular.module('bigProjectApp').service('modalService', ['$uibModal',
	    function ($uibModal) {

	        var modalDefaults = {
	            backdrop: true,
	            keyboard: true,
	            modalFade: true,
	            templateUrl: 'confirm.html'
	        };

	        var modalOptions = {
	            closeButtonText: 'Close',
	            actionButtonText: 'OK',
	            headerText: 'Proceed?',
	            bodyText: 'Perform this action?'
	        };

	        this.showModal = function (customModalDefaults, customModalOptions) {
	            if (!customModalDefaults) customModalDefaults = {};
	            customModalDefaults.backdrop = 'static';
	            return this.show(customModalDefaults, customModalOptions);
	        };

	        this.show = function (customModalDefaults, customModalOptions) {
	            //Create temp objects to work with since we're in a singleton service
	            var tempModalDefaults = {};
	            var tempModalOptions = {};

	            //Map angular-ui modal custom defaults to modal defaults defined in service
	            angular.extend(tempModalDefaults, modalDefaults, customModalDefaults);

	            //Map modal.html $scope custom properties to defaults defined in service
	            angular.extend(tempModalOptions, modalOptions, customModalOptions);

	            if (!tempModalDefaults.controller) {
	                tempModalDefaults.controller = function ($scope, $uibModalInstance) {
	                    $scope.modalOptions = tempModalOptions;
	                    $scope.modalOptions.ok = function (result) {
	                        	$uibModalInstance.close(result);
	                    };
	                    $scope.modalOptions.close = function (result) {
	                    		$uibModalInstance.dismiss('cancel');
	                    };
	                }
	            }

	            return $uibModal.open(tempModalDefaults).result;
	        };

	}]);
	
	app.controller("ModalCtrl", function($scope, $uibModal, $log, $document, $http, $timeout, $interval, modalService) {
		//init stock search list
		$scope.stocks = {{ stocks|safe }}

		//init portfolio table
		var portfolioTable = $('#dataTables-portfolio').DataTable(
				{
					responsive : true,
					ajax : {
						'url' : '/portfolios'
					},
					columns: [
			            { "data": "_id" },
			            { "data": "stock_code" },
			            { "data": "stock_name" },
			            { "data": "qty" },
			            { "data": "price" },
			            { "data": "pre_close" },
			            { "data": "open_price" },
			            	{ "data": "volume" },
			            	{ "data": "amount" },
			            	{ "data": "cost" },
			            	{ "data": "market_value" },
			            	{ "data": "profit_lost" },
			            	{ "data": "precentage" }
			        ],
					columnDefs : [ {
						'targets' : 0,
						'searchable' : false,
						'orderable' : false,
						'className' : 'dt-body-center',
						'render' : function(data, type, full, meta) {
							return '<input type="checkbox" name="id" value="' + data + '"/>';
						}
					} ],
					order : [ [ 1, 'asc' ] ],
					initComplete: function () {
		                //init checkbox event
		                $("#dataTables-portfolio tbody").on( "click", "tr", function () {
				            $(this).toggleClass("selected");
				            
				            if ($(this).hasClass("selected")) {
				                $(this).find("input").prop("checked", true);
				            } else {
				                $(this).find("input").prop("checked", false);
				            }
				        });

			             // Handle click on "Select all" control
			            	$('#portfolio-select-all').on('click', function() {
			            		// Get all rows with search applied
			            		var rows = portfolioTable.rows({
			            			'search' : 'applied'
			            		}).nodes();
			            		// Check/uncheck checkboxes for all rows in the table
			            		if (this.checked){
			            			$('#dataTables-portfolio tbody').find('input[type="checkbox"]', rows).prop('checked', true);
			            			$('#dataTables-portfolio tbody').find('tr').addClass('selected');
			            		} else {
			            			$('#dataTables-portfolio tbody').find('input[type="checkbox"]', rows).prop('checked', false);
			            			$('#dataTables-portfolio tbody').find('tr').removeClass('selected');
			            		}
			            	});
		
			            	//Handle click on checkbox to set state of "Select all" control
			            	$('#dataTables-portfolio tbody').on('change', 'input[type="checkbox"]', function() {
		            			// If checkbox is not checked
		            			if (!this.checked) {
		            				var el = $('#portfolio-select-all').get(0);
		            				// If "Select all" control is checked and has 'indeterminate' property
		            				if (el && el.checked && ('indeterminate' in el)) {
		            					// Set visual state of "Select all" control
		            					// as 'indeterminate'
		            					el.indeterminate = true;
		            				}
		            			}
		            		});
		            }
					
				});
		
		$scope.table = portfolioTable;
		
		//Handle delete portfolio
		$scope.delPortfolios = function() {
			var modalOptions = {
	            closeButtonText: 'No',
	            actionButtonText: 'Yes',
	            headerText: '请确认',
	            bodyText: '确定需要删除持股?'
	        };

			modalService.showModal({}, modalOptions).then(function (result) {
	        		var uuid = '';
		        var uuids = $scope.table.rows(".selected").data();
		        if (uuids.length == 0) {
		            alert("please select a record");
		        } else {
		            for (var i = 0; i < uuids.length; i++) {
		                uuid = uuid + uuids[i]._id + ",";
		            }
		            $http.post('/portfolio/delete',
		                JSON.stringify(uuid),
		                {
		                    headers: {
		                        'Content-Type': 'application/json'
		                    }
		                }
	                ).then(function(response) {
	                		console.log(response.data);
	                		$scope.table.rows(".selected").remove().draw(false);
		    			})
		    			.catch(function(response) {
		    			  	console.error('error', response.status, response.data);
		    			})
		    			.finally(function() {
		    			});
		        }
	        });
		};
		
		//handle add portfolio
		$scope.openAddPortfolio = function() {
			var modalInstance = $uibModal.open({
				ariaLabelledBy : 'modal-title',
				ariaDescribedBy : 'modal-body',
				templateUrl : 'addPortfolio.html',
				scope: $scope,
				controller : function($scope, $uibModalInstance, $log) {
					
					$scope.stock = {};
					$scope.qty = undefined;
					$scope.cost = undefined;
					
					$scope.submit = function() {
						var data = { "stock_code": this.stock.selected.stock_code, 
									 "stock_name": this.stock.selected.name,
									 "qty": this.qty, 
									 "cost": this.cost
						};
			            $http.post('/portfolio/add',
			                JSON.stringify(data),
			                {
			                    headers: {
			                        'Content-Type': 'application/json'
			                    }
			                }
		                ).then(function(response) {
		                		console.log(response.data);
			    				//$scope.stocks = response.data;
		                		portfolioTable.row.add(response.data).draw();
			    			})
			    			.catch(function(response) {
			    			  	console.error('error', response.status, response.data);
			    			})
			    			.finally(function() {
			    				$uibModalInstance.close();
			    			});
					};

					$scope.cancel = function() {
						$uibModalInstance.close(false);
					};
				}
			});
		};
	});
	
	app.config(function($routeProvider) {
		$routeProvider
		.when("/strategy", {
			templateUrl : "strategy.html",
			controller : "ModalCtrl"
		}).when("/portfolio", {
			templateUrl : "portfolio.html",
			controller : "ModalCtrl"
		});
	});
</script>     
</html>
